.heading2Xl {
    margin: 0.25rem 0 0;
    font-size: 1rem;
    font-weight: 600;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    width: 102%;
    list-style: none;
    padding: 0;
    margin: 1.4rem 0 0;
}

.listItem {
    float: left;
    width: 23.5%;
    height: 23rem;
    border: 1.5px solid #e1e1e1;
    border-radius: 5px;
    margin: 0 1.35% 1.25rem 0;
    background: #fff;
    overflow: hidden;
}

.paginationContainer {
    text-align: center;
}

.lightText {
    color: #999;
}