.heading2Xl {
    margin: 0.25rem 0 0;
    font-size: 1rem;
    font-weight: 600;
}

.headingXl {
    margin: 5px 0;
    color: #323070;
    font-size: 1.7143em;
    font-weight: 600;
    line-height: 1.3;
}

.headingLg {
    margin: 0 0 1.2rem;
    color: #323070;
    font-weight: 600;
}

.headingMd {
    line-height: 1.5;
}

.headingSm {
    color: #323070;
    font-size: 1.4em;
    font-weight: 600;
}

.headingXs {
    margin: 0 0 10px;
    color: #323070;
    font-weight: 600;
    text-transform: uppercase;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.clearLeft {
    clear: left;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 0 0 -0.7em;
    padding: 17px 0 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    text-align: center;
}

.overlayText {
    color: #333;
    font-weight: 700;
}

.list {
    width: 102%;
    height: 19rem;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.section,
.listItem {
    border: 1.5px solid #e1e1e1;
    border-radius: 5px;
    background: #fff;
}

.section {
    padding: 30px 99px;
}

.section > p {
    overflow: hidden;
}

.listItem {
    display: inline-block;
    width: 23.5%;
    height: 19rem;
    margin: 0 1.35% 1.25rem 0;
    overflow: hidden;
    vertical-align: top;
}

.label {
    margin: 15px 0 6px;
}

.breakWord {
    overflow-wrap: break-word;
}

.paginationContainer {
    text-align: center;
}

.innerSection {
    margin: 0 0 1em;
    padding: 15px;
}

.nb {
    padding: 0;
    list-style: none;
}

.nbPadding {
    margin: 15px 0;
    padding: 0 12px;
    overflow: hidden;
    list-style: none;
}

.link {
    color: #1DA1F2;
    font-weight: 500;
    text-decoration: underline;
}

.spanField {
    display: inline-block;
    color: #333;
    line-height: 1.2;
}

.lightText {
    color: #999;
}

.inputContainer {
    position: relative;
    padding: 0 3.71em 0 0;
}

.input {
    width: 100%;
    border: 0.108em solid #e8e8e8;
    border-radius: 2px;
    margin: 0;
    padding: 0.508em 0.7143em;
    font-size: 14px;
    font-weight: 500;
}

.liFloat {
    float: left;
    margin: 0 15px 0 0;
}

.addRemove {
    position: absolute;
    top: 0;
    right: 0;
    border: 0.072em solid #323070;
    border-radius: 2px;
    margin: 0;
    padding: 0.1495em 0.47em;
    background: transparent;
    color: #323070;
    font-size: 1.5em;
    cursor: pointer;
}

.submitContainer {
    padding: 0 3.71em 0 0;
    text-align: right;
}

.submit {
    border: 0;
    border-radius: 2px;
    padding: 7.6px 20px;
    background: #05b74c;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.nested_ol ol {
    counter-reset: item;
    padding-top: 5px;
}
.nested_ol li {
    display: block;
    padding-bottom: 5px;
}
.nested_ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}

@media (max-width: 985px) {

    .heading2Xl {
        font-size: 9px;
    }

    .headingXl {
        font-size: 16px;
    }

    .list {
        height: auto;
        margin: 0;
    }
    
    .listItem {
        width: 100%;
    }

    .section {
        padding: 15px 10px;
    }

    .lightText {
        font-size: 12px;
    }
}