.filtersContainer {
    margin: 0 0 20px;
}

.filters {
    max-height: 331px;
    border-bottom: 1.5px solid #dddfdf;
    padding: 0 0 0.57rem;
    overflow: hidden;
    transition: max-height 0.4s ease-in,
                padding 0.4s ease-in;
}

.filter {
    display: inline-block;
    width: 15.36%;
    margin: 0 1.5% 0 0;
}

.filter:last-of-type {
    margin: 0;
}

.filterSelect {
    width: 100%;
}

.arrow {
    display: none;
    transform-origin: 50% 58%;
    transition: transform 0.4s;
}

.up {
    transform: rotate(180deg);
}

.sorting {
    margin: 0 1.4rem 0 0.9rem;
    cursor: pointer;
}

.sortingIcon {
    margin: 0 0 0 0.7rem;
    vertical-align: top;
}

@media (max-width: 985px) {

    .filterCategories {
        columns: 2;
    }

    .filtersCollapsed {
        max-height: 0;
        padding: 0;
    }

    .arrow {
        display: inline-block;
    }

    .mobilePointer {
        cursor: pointer;
    }

}