.pagination {
    display: inline-block;
}

.pagination a {
    float: left;
    padding: 5px 13px;
    color: #333;
    text-decoration: none;
}

.pagination a.active {
    background-color: #323070;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
   }