.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
}

.pagination a.active {
    background-color: #0070f3;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}