.previewBlock {
    display: block;
    position: relative;
    height: 100%;
    padding: 1.07rem 0.7rem 0;
}

.timeLocation {
    margin: 0 0.37rem;
    color: #999;
    font-size: 0.857rem;
}

.reportHeading {
    margin: 0.357rem 0.37rem;
    color: #323070;
    font-size: 1.14rem;
    font-weight: 600;
}

.content {
    margin: 0 0.37rem;
    color: #333;
}