.map_wrapper {
    overflow:hidden;
    width: 700px;
    position: relative;
}

.map_container {
    position: absolute;
    width: 80%;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
}

.powered_by {
    line-height: 1.8;
    font-size: 2px;
    background: #fff;
}