.filter {
    display: inline-block;
    width: 12.76%;
    margin: 0 1.5% 2.7rem 0;
}

.filterSelect {
    width: 100%;
}

@media (max-width: 985px) {

    .filter {
        width: 100%;
        margin: 0 1.5% 20px 0;
    }
}